<a href="https://colab.research.google.com/github/MatiasRuizSilva/Python-for-Data-Science/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python -V

Python 3.9.16

TRABAJANDO CON DATOS

In [3]:
import pandas as pd
pd.set_option('display.max_rows',4)
pd.set_option('display.max_columns',10)

In [ ]:
dataset = pd.read_csv('alquiler.csv', sep = ';')

In [ ]:
dataset

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [ ]:
dataset.describe()

,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
count,32960.00000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.77139,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
...,...,...,...,...,...,...,...
75%,3.00000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.00000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

In [5]:
datos = pd.read_csv('alquiler.csv', sep = ';')
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0